@model Assignment13.Models.Cricket

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cricket</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TeamName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeamName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoWc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoWc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TeamId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
